<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookBuyers</display-name>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>Servlet.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>Servlet.Checkout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyBack</servlet-name>
    <servlet-class>Servlet.BuyBack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceBroker</servlet-name>
    <servlet-class>Servlet.ServiceBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyBack</servlet-name>
    <url-pattern>/BuyBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceBroker</servlet-name>
    <url-pattern>/ServiceBroker</url-pattern>
  </servlet-mapping>
</web-app>